<div data-id={{id}} class="case-study-item">
  <div class="case-study-item-horizontal">
    <div class="case-study-item-left">
      <h3><a class="case-study-title" href="/projects/{{id}}/{{slug}}">{{title}}</a></h3>
      <div class="case-study-subtitle">
        <span class="project-metadata-type">{{projectType}}</span>
        |
        <span class="project-metadata-year">{{year}}</span>
      </div>
    </div>
    <div class="case-study-item-right">
      <a href="/projects/{{id}}/{{slug}}">
        <img class="case-study-thumbnail" src="{{thumbnail}}" alt="{{title}} Thumbnail">
      </a>
    </div>
  </div>
  <div class="case-study-item-vertical">
    <h3><a class="case-study-title" href="/projects/{{id}}/{{slug}}">{{title}}</a></h3>
    <div class="case-study-subtitle">
      <span class="project-metadata-type">{{projectType}}</span>
      |
      <span class="project-metadata-year">{{year}}</span>
    </div>
    <a href="/projects/{{id}}/{{slug}}">
      <img class="case-study-thumbnail" src="{{thumbnail}}" alt="{{title}} Thumbnail">
    </a>
  </div>
</div>
