<div class="{{slug}}">
  {{#if mainImage}}
    <img src="{{mainImage}}" alt="{{title}} main image" class="project-main-image">
  {{/if}}
  <div class="project-detail-header">
    <h1 class="project-heading">{{title}}</h1>
    <p class="project-metadata">
      <span class="project-metadata-type">{{description}}</span>
    </p>
  </div>
  <div class="clear-float"></div>
  <div class="project-details">
    {{{projectDetail}}}
  </div>
</div>
