<li data-id={{id}} class="project-item">
  <div class="project-item-frame">
    <a href="/projects/{{id}}/{{slug}}"><img class="project-thumbnail" src="{{thumbnail}}" alt="{{title}} Thumbnail"></a>
    <p class="project-item-title"><a href="/projects/{{id}}/{{slug}}">{{title}}</a></p>
  </div>
</li>
